USE [master]
GO
/****** Object:  Database [faturaSistemi]    Script Date: 26.12.2024 23:39:36 ******/
CREATE DATABASE [faturaSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'faturaSistemi', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\faturaSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'faturaSistemi_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\faturaSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [faturaSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [faturaSistemi]
GO
/****** Object:  Table [dbo].[Faturalar]    Script Date: 26.12.2024 23:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalar](
	[FaturaNo] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAdi] [nvarchar](100) NOT NULL,
	[FaturaTarihi] [date] NOT NULL,
	[SonOdemeTarihi] [date] NOT NULL,
	[ToplamTutar] [decimal](10, 2) NOT NULL,
	[OdemeBilgi] [nvarchar](20) NOT NULL,
	[Aciklama] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FaturaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 26.12.2024 23:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](100) NULL,
	[soyad] [varchar](100) NULL,
	[kullaniciAdi] [varchar](50) NULL,
	[sifre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[kullanici] ON 

INSERT [dbo].[kullanici] ([id], [Ad], [soyad], [kullaniciAdi], [sifre]) VALUES (3, N'Arda', N'Akar', N'Admin', N'013024')
SET IDENTITY_INSERT [dbo].[kullanici] OFF
GO
ALTER TABLE [dbo].[Faturalar] ADD  DEFAULT ('Ödenmedi') FOR [OdemeBilgi]
GO
USE [master]
GO
